doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sign Up Form
    body 
        h1 Sign Up
        form(method="POST" action="")
            label(for="username") Username:
            input#username(type="text" name="username" placeholder="Enter User Name")
            label(for="password") Password: 
            input#password(type="password" name="password")
            button Sign Up